<link rel="apple-touch-icon" sizes="57x57" href="https://enote.com/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://enote.com/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://enote.com/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://enote.com/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://enote.com/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://enote.com/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://enote.com/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://enote.com/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://enote.com/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://enote.com/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://enote.com/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://enote.com/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://enote.com/favicon/favicon-16x16.png">
<link rel="preload" as="font" href="https://enote.com/assets/fonts/CircularStd-Book.woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="https://enote.com/assets/fonts/CircularStd-Medium.woff2" crossorigin="anonymous">
<link rel="preload" as="font" href="https://enote.com/assets/fonts/CircularStd-Bold.woff2" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/w3.css"/>
<link rel="stylesheet" href="/styles/styles.css"/>
<link rel="stylesheet" href="/styles/midiplayer.css"/>
<link rel="stylesheet" href="/styles/stdtheme.css"/>

